<htmL>
    <head>
        <link rel="stylesheet" href="css/controllers/cube.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        <script src="js/app/cubeControls.js"></script>
    </head>
    <body>

        <div class="cubeBody">
            <div id="controls" class="controls">
                <button type="button" class="controlButton" onclick="turnCube(this)">L</button>
                <button type="button" class="controlButton" onclick="turnCube(this)">L`</button>
                <button type="button" class="controlButton" onclick="turnCube(this)">R</button>
                <button type="button" class="controlButton" onclick="turnCube(this)">R`</button>
                <button type="button" class="controlButton" onclick="turnCube(this)">M</button>
                <button type="button" class="controlButton" onclick="turnCube(this)">M`</button>
                <button type="button" class="controlButton" onclick="turnCube(this)">U</button>
                <button type="button" class="controlButton" onclick="turnCube(this)">U`</button>
                <button type="button" class="controlButton" onclick="turnCube(this)">E</button>
                <button type="button" class="controlButton" onclick="turnCube(this)">E`</button>
                <button type="button" class="controlButton" onclick="turnCube(this)">D</button>
                <button type="button" class="controlButton" onclick="turnCube(this)">D`</button>
                <button type="button" class="controlButton" onclick="turnCube(this)">F</button>
                <button type="button" class="controlButton" onclick="turnCube(this)">F`</button>
                <button type="button" class="controlButton" onclick="turnCube(this)">S</button>
                <button type="button" class="controlButton" onclick="turnCube(this)">S`</button>
                <button type="button" class="controlButton" onclick="turnCube(this)">B</button>
                <button type="button" class="controlButton" onclick="turnCube(this)">B`</button>
                <button type="button" class="controlButton" onclick="resetCube()">Reset</button>
                <button type="button" class="controlButton" onclick="mixCube()">Scramble</button>
            </div>
            <div id="cube" class="cube">
                <!-- empty box -->
                <div></div>
                <div id="yellow" class="cubeSide">
                    <div id="yellow1" data-face="31" class="cubeBox yellowBox">1</div>
                    <div id="yellow4" data-face="32" class="cubeBox yellowBox">2</div>
                    <div id="yellow7" data-face="33" class="cubeBox yellowBox">3</div>
                    <div id="yellow2" data-face="34" class="cubeBox yellowBox">4</div>
                    <div id="yellow5" data-face="35" class="cubeBox yellowBox">5</div>
                    <div id="yellow8" data-face="36" class="cubeBox yellowBox">6</div>
                    <div id="yellow3" data-face="37" class="cubeBox yellowBox">7</div>
                    <div id="yellow6" data-face="38" class="cubeBox yellowBox">8</div>
                    <div id="yellow9" data-face="39" class="cubeBox yellowBox">9</div>
                </div>
                <!-- empty box -->
                <div></div>
                <!-- empty box -->
                <div></div>

                <div id="blue" class="cubeSide">
                    <div id="blue1" data-face="21" class="cubeBox blueBox">1</div>
                    <div id="blue4" data-face="22" class="cubeBox blueBox">2</div>
                    <div id="blue7" data-face="23" class="cubeBox blueBox">3</div>
                    <div id="blue2" data-face="24" class="cubeBox blueBox">4</div>
                    <div id="blue5" data-face="25" class="cubeBox blueBox">5</div>
                    <div id="blue8" data-face="26" class="cubeBox blueBox">6</div>
                    <div id="blue3" data-face="27" class="cubeBox blueBox">7</div>
                    <div id="blue6" data-face="28" class="cubeBox blueBox">8</div>
                    <div id="blue9" data-face="29" class="cubeBox blueBox">9</div>
                </div>
                <!-- empty box -->
                <div></div>
                <div id="orange" class="cubeSide">
                    <div id="orange1" data-face="51" class="cubeBox orangeBox">1</div>
                    <div id="orange4" data-face="52" class="cubeBox orangeBox">2</div>
                    <div id="orange7" data-face="53" class="cubeBox orangeBox">3</div>
                    <div id="orange2" data-face="54" class="cubeBox orangeBox">4</div>
                    <div id="orange5" data-face="55" class="cubeBox orangeBox">5</div>
                    <div id="orange8" data-face="56" class="cubeBox orangeBox">6</div>
                    <div id="orange3" data-face="57" class="cubeBox orangeBox">7</div>
                    <div id="orange6" data-face="58" class="cubeBox orangeBox">8</div>
                    <div id="orange9" data-face="59" class="cubeBox orangeBox">9</div>
                </div>

                <div id="white" class="cubeSide">
                    <div id="white1" data-face="11" class="cubeBox whiteBox">1</div>
                    <div id="white4" data-face="12" class="cubeBox whiteBox">2</div>
                    <div id="white7" data-face="13" class="cubeBox whiteBox">3</div>
                    <div id="white2" data-face="14" class="cubeBox whiteBox">4</div>
                    <div id="white5" data-face="15" class="cubeBox whiteBox">5</div>
                    <div id="white8" data-face="16" class="cubeBox whiteBox">6</div>
                    <div id="white3" data-face="17" class="cubeBox whiteBox">7</div>
                    <div id="white6" data-face="18" class="cubeBox whiteBox">8</div>
                    <div id="white9" data-face="19" class="cubeBox whiteBox">9</div>
                </div>

                <div id="red" class="cubeSide">
                    <div id="red1" data-face="61" class="cubeBox redBox">1</div>
                    <div id="red4" data-face="62" class="cubeBox redBox">2</div>
                    <div id="red7" data-face="63" class="cubeBox redBox">3</div>
                    <div id="red2" data-face="64" class="cubeBox redBox">4</div>
                    <div id="red5" data-face="65" class="cubeBox redBox">5</div>
                    <div id="red8" data-face="66" class="cubeBox redBox">6</div>
                    <div id="red3" data-face="67" class="cubeBox redBox">7</div>
                    <div id="red6" data-face="68" class="cubeBox redBox">8</div>
                    <div id="red9" data-face="69" class="cubeBox redBox">9</div>
                </div>
                <!-- empty box -->
                <div></div>
                <div id="green" class="cubeSide">
                    <div id="green1" data-face="41" class="cubeBox greenBox">1</div>
                    <div id="green4" data-face="42" class="cubeBox greenBox">2</div>
                    <div id="green7" data-face="43" class="cubeBox greenBox">3</div>
                    <div id="green2" data-face="44" class="cubeBox greenBox">4</div>
                    <div id="green5" data-face="45" class="cubeBox greenBox">5</div>
                    <div id="green8" data-face="46" class="cubeBox greenBox">6</div>
                    <div id="green3" data-face="47" class="cubeBox greenBox">7</div>
                    <div id="green6" data-face="48" class="cubeBox greenBox">8</div>
                    <div id="green9" data-face="49" class="cubeBox greenBox">9</div>
                </div>
                <!-- empty box -->
                <div></div>
            </div>
        </div>
    </body>
</html>
