<htmL>
    <head>
        <link rel="stylesheet" href="css/controllers/cube.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        <script src="js/app/cubeControls.js"></script>
    </head>
    <body>

        <div class="cubeBody">
            <div id="controls" class="controls">
                <!-- Standard Directions -->
                <div id="directions">
                    <button id="L"      data-face="left"   type="button" class="controlButton">L</button>
                    <button id="LPrime" data-face="left"   type="button" class="controlButton">L`</button>
                    <button id="R"      data-face="right"  type="button" class="controlButton">R</button>
                    <button id="RPrime" data-face="right"  type="button" class="controlButton">R`</button>
                    <button id="U"      data-face="top"    type="button" class="controlButton">U</button>
                    <button id="UPrime" data-face="top"    type="button" class="controlButton">U`</button>
                    <button id="D"      data-face="bottom" type="button" class="controlButton">D</button>
                    <button id="DPrime" data-face="bottom" type="button" class="controlButton">D`</button>
                    <button id="F"      data-face="front"  type="button" class="controlButton">F</button>
                    <button id="FPrime" data-face="front"  type="button" class="controlButton">F`</button>
                    <button id="B"      data-face="back"   type="button" class="controlButton">B</button>
                    <button id="BPrime" data-face="back"   type="button" class="controlButton">B`</button>

                    <!-- Middle Slice Directions -->
                    <button id="M"      type="button" class="controlButton">M</button>
                    <button id="MPrime" type="button" class="controlButton">M`</button>
                    <button id="E"      type="button" class="controlButton">E</button>
                    <button id="EPrime" type="button" class="controlButton">E`</button>
                    <button id="S"      type="button" class="controlButton">S</button>
                    <button id="SPrime" type="button" class="controlButton">S`</button>
                </div>
                <button id="resetCube" type="button" class="controlButton">Reset</button>
                <button id="scrambleCube" type="button" class="controlButton">Scramble</button>
            </div>
            <div id="cube" class="cube">
                <!-- empty box -->
                <div></div>
                <div id="bottom" class="cubeSide">
                    <div class="directionIndicator hide">&#8635;</div>
                    <div id="bottom1" data-face="" class="cubeBox"></div>
                    <div id="bottom4" data-face="" class="cubeBox"></div>
                    <div id="bottom7" data-face="" class="cubeBox"></div>
                    <div id="bottom2" data-face="" class="cubeBox"></div>
                    <div id="bottom5" data-face="" class="cubeBox"></div>
                    <div id="bottom8" data-face="" class="cubeBox"></div>
                    <div id="bottom3" data-face="" class="cubeBox"></div>
                    <div id="bottom6" data-face="" class="cubeBox"></div>
                    <div id="bottom9" data-face="" class="cubeBox"></div>
                </div>
                <!-- empty box -->
                <div></div>
                <!-- empty box -->
                <div></div>

                <div id="back" class="cubeSide">
                    <div class="directionIndicator hide">&#8635;</div>
                    <div id="back1" data-face="" class="cubeBox"></div>
                    <div id="back4" data-face="" class="cubeBox"></div>
                    <div id="back7" data-face="" class="cubeBox"></div>
                    <div id="back2" data-face="" class="cubeBox"></div>
                    <div id="back5" data-face="" class="cubeBox"></div>
                    <div id="back8" data-face="" class="cubeBox"></div>
                    <div id="back3" data-face="" class="cubeBox"></div>
                    <div id="back6" data-face="" class="cubeBox"></div>
                    <div id="back9" data-face="" class="cubeBox"></div>
                </div>
                <!-- empty box -->
                <div></div>
                <div id="left" class="cubeSide">
                    <div class="directionIndicator hide">&#8635;</div>
                    <div id="left1" data-face="" class="cubeBox"></div>
                    <div id="left4" data-face="" class="cubeBox"></div>
                    <div id="left7" data-face="" class="cubeBox"></div>
                    <div id="left2" data-face="" class="cubeBox"></div>
                    <div id="left5" data-face="" class="cubeBox"></div>
                    <div id="left8" data-face="" class="cubeBox"></div>
                    <div id="left3" data-face="" class="cubeBox"></div>
                    <div id="left6" data-face="" class="cubeBox"></div>
                    <div id="left9" data-face="" class="cubeBox"></div>
                </div>

                <div id="top" class="cubeSide">
                    <div class="directionIndicator hide">&#8635;</div>
                    <div id="top1" data-face="" class="cubeBox"></div>
                    <div id="top4" data-face="" class="cubeBox"></div>
                    <div id="top7" data-face="" class="cubeBox"></div>
                    <div id="top2" data-face="" class="cubeBox"></div>
                    <div id="top5" data-face="" class="cubeBox"></div>
                    <div id="top8" data-face="" class="cubeBox"></div>
                    <div id="top3" data-face="" class="cubeBox"></div>
                    <div id="top6" data-face="" class="cubeBox"></div>
                    <div id="top9" data-face="" class="cubeBox"></div>
                </div>

                <div id="right" class="cubeSide">
                    <div class="directionIndicator hide">&#8635;</div>
                    <div id="right1" data-face="" class="cubeBox"></div>
                    <div id="right4" data-face="" class="cubeBox"></div>
                    <div id="right7" data-face="" class="cubeBox"></div>
                    <div id="right2" data-face="" class="cubeBox"></div>
                    <div id="right5" data-face="" class="cubeBox"></div>
                    <div id="right8" data-face="" class="cubeBox"></div>
                    <div id="right3" data-face="" class="cubeBox"></div>
                    <div id="right6" data-face="" class="cubeBox"></div>
                    <div id="right9" data-face="" class="cubeBox"></div>
                </div>
                <!-- empty box -->
                <div></div>
                <div id="front" class="cubeSide">
                    <div class="directionIndicator hide">&#8635;</div>
                    <div id="front1" data-face="" class="cubeBox"></div>
                    <div id="front4" data-face="" class="cubeBox"></div>
                    <div id="front7" data-face="" class="cubeBox"></div>
                    <div id="front2" data-face="" class="cubeBox"></div>
                    <div id="front5" data-face="" class="cubeBox"></div>
                    <div id="front8" data-face="" class="cubeBox"></div>
                    <div id="front3" data-face="" class="cubeBox"></div>
                    <div id="front6" data-face="" class="cubeBox"></div>
                    <div id="front9" data-face="" class="cubeBox"></div>
                </div>
                <!-- empty box -->
                <div></div>
            </div>
        </div>
    </body>
</html>
